<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Nuevo Producto</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="col-12 col-md-9 offset-md-1">
			<h1>Formulario Producto</h1>
			<form action="#" th:action="@{/views/producto/save}"
				th:object="${producto}" method="post">

				<div class="col mb-3">
					<label>Código:</label> <input type="number" class="form-control"
						th:field="*{codigo}"> <span
						th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"
						class="text-danger"></span>
				</div>

				<div class="col mb-3">
					<label>Nombre:</label> <input type="text" class="form-control"
						th:field="*{nombre}"> <span
						th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
						class="text-danger"></span>
				</div>

				<div class="col mb-3">
					<label>Proveedor:</label> <select th:field="*{nitproveedor}"
						class="form-control">
						<option value="">-- Seleccione --</option>
						<option th:each="proveedor : ${listaProveedores}"
							th:value="${proveedor.nit}" th:text="${proveedor.nombre}">
						</option>
					</select> <span th:if="${#fields.hasErrors('nitproveedor')}"
						th:errors="*{nitproveedor}" class="text-danger"></span>
				</div>

				<div class="col mb-3">
					<label>Precio Compra:</label> <input type="number"
						class="form-control" th:field="*{precio_compra}"> <span
						th:if="${#fields.hasErrors('precio_compra')}"
						th:errors="*{precio_compra}" class="text-danger"></span>
				</div>

				<div class="col mb-3">
					<label>IVA:</label> <input type="number" class="form-control"
						step="0.01" th:field="*{iva}"> <span
						th:if="${#fields.hasErrors('iva')}" th:errors="*{iva}"
						class="text-danger"></span>
				</div>

				<div class="col mb-3">
					<label>Precio Venta:</label> <input type="number"
						class="form-control" th:field="*{precio_venta}"> <span
						th:if="${#fields.hasErrors('precio_venta')}"
						th:errors="*{precio_venta}" class="text-danger"></span>
				</div>

				<button type="submit" class="btn btn-primary">Salvar
					Producto</button>
				<a href="/views/producto/" class="btn btn-secondary ml-2">Cancelar</a>

			</form>

		</div>
	</div>
	<div align="center">
		<footer>José Daniel Pinzón Angulo</footer>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>